{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title">Modifier l'agence</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Nom</label>
                        <div class="col-sm-9">
                            <input type="text" name="title" value="{{agence.title}}" class="form-control" id="fname" placeholder="Nom de l'agence">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Adresse</label>
                        <div class="col-sm-9">
                            <input type="text" name="adresse" value="{{agence.adresse}}" class="form-control" id="lname" placeholder="Adresse">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" name="email" value="{{agence.email}}" class="form-control" id="email1" placeholder="Adresse email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Téléphone</label>
                        <div class="col-sm-9">
                            <input type="text" name="phone" value="{{agence.phone}}" class="form-control" id="cono1" placeholder="Téléphone de l'agence">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea name="description" class="form-control">{{agence.description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}