{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title">Information sur le paramètre</h4>
                    
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Département</label>
                        <div class="col-md-9">
                            <select name="departement" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                <option>Selectionner</option>
                                {% for departement in departements %}
                                    <option value="{{departement.id}}">{{departement.name}}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Nom</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" id="fname" placeholder="Nom du paramètre">
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}