{% extends 'main.html' %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/extra-libs/multicheck/multicheck.css' %}">
<link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock extrastyle %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'add_site_setting' %}" class="btn btn-primary float-right mb-2">Ajouter un paramètre</a>
                <h5 class="card-title">Liste des paramètres de maintenance</h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for setting in settings %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{setting.title}}</td>
                                <td>
                                    <a href="/view_site_setting/{{setting.id}}" class="btn btn-success m-1"><i class="fas fa-eye"></i></a>
                                    <a href="/delete_site_setting/{{setting.id}}" class="btn btn-danger m-1"><i class="fas fa-trash"></i></a>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascript %}
<script src="{% static 'assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
<script src="{% static 'assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
<script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
<script>
    /****************************************
        *       Basic Table                   *
        ****************************************/
    $('#zero_config').DataTable();
</script>
{% endblock extrascript %}