{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal" method = "POST">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title text-center">Collecte sur {{site.title}}</h4>
                    {% for set in settings %}
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">{{set.title}}</label>
                        <div class="col-sm-9">
                            <input type="text" name="{{set.id}}" class="form-control" id="fname" placeholder="{{set.title}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}